<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Cory Mannion</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
  <style>
    #navMain {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-weight: 700;
      /* background-color: #2c3e50 !important; */
    }

    #home {
      /* background-color: #18bc9c;*/
    }

    #profile-picture {
      border: solid 2px white;
    }

    .portfolio-item {
      border: 1px solid black;
      margin: 25px;
    }

    .btn-social {
      width: 3.25rem;
      height: 3.25rem;
      font-size: 1.25rem;
      line-height: 2rem;
    }

    header.masthead {
      padding-top: calc(6rem + 72px);
      padding-bottom: 6rem;
    }

    .clip {
      padding: 15px;
    }

    hr.star-light,
    hr.star-dark {
      max-width: 15rem;
      padding: 0;
      text-align: center;
      border: none;
      border-top: solid 0.25rem;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }

    hr.star-light:after,
    hr.star-dark:after {
      position: relative;
      top: -.8em;
      display: inline-block;
      padding: 0 0.25em;
      content: '\f130';
      font-family: FontAwesome;
      font-size: 2em;
    }

    hr.star-light {
      border-color: #fff;
    }

    hr.star-light:after {
      color: #fff;
      background-color: #18BC9C;
    }

    hr.star-dark {
      border-color: #2C3E50;
    }

    hr.star-dark:after {
      color: #2C3E50;
      background-color: white;
    }


    section {
      padding: 6rem 0;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg fixed-top text-uppercase navbar-light bg-light" id="navMain">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#home">Cory Mannion</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto m1-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#listen">Listen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
        <span class="navbar-text">
          extra room for text...
        </span>
      </div>
    </div>
  </nav>

  <header id="home" class="masthead primary text-center">
    <div class="container">
      <img id="profile-picture" class="img-fluid mb-5 d-block mx-auto" src="../public/assets/images/Cory.jpg" alt="Ur Boi Cory~">
      <h1 class="text-uppercase mb-0">Cory Mannion</h1>
      <hr class="star-dark mb-5">
      <h2 class="font-weight-light mb-0">Production Director - Radio Enthusiast - Star Wars Super Fan - Carolina Panthers Fan - Fishing Machine - Surfer - Snowboarder
        - XBONE - Guardian</h2>
    </div>
  </header>



  <section id="listen" class="sound-bites">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Listen!</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-md-6 col-lg-4 clip">

          <div class="portfolio-item-caption d-flex position-relative h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center">
              <iframe id="clyp-widget" width="100%" src="https://clyp.it/3lgugxbv/widget" frameborder="0"></iframe>
            </div>
          </div>
          <img class="img-fluid" src="#" alt="">

        </div>
        <div class="col-md-6 col-lg-4 clip">

          <div class="portfolio-item-caption d-flex position-relative h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center">
              <iframe id="clyp-widget" width="100%" src="https://clyp.it/wfo5fscp/widget" frameborder="0"></iframe>
            </div>
          </div>
          <img class="img-fluid" src="#" alt="">

        </div>
        <div class="col-md-6 col-lg-4 clip">
          <div class="portfolio-item-caption d-flex position-relative h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center">
              <iframe id="clyp-widget" width="100%" src="https://clyp.it/j11kg5ko/widget" frameborder="0"></iframe>
            </div>
          </div>
          <img class="img-fluid" src="#" alt="">
        </div>
        <div class="col-md-6 col-lg-4 clip">
          <div class="portfolio-item-caption d-flex position-relative h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center">
              <iframe id="clyp-widget" width="100%" src="https://clyp.it/bcw41v2x/widget" frameborder="0"></iframe>
            </div>
          </div>
          <img class="img-fluid" src="#" alt="">
        </div>
        <div class="col-md-6 col-lg-4 clip">
          <div class="portfolio-item-caption d-flex position-relative h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center">
              <iframe id="clyp-widget" width="100%" src="https://clyp.it/z0cyqbxk/widget" frameborder="0"></iframe>
            </div>
          </div>
          <img class="img-fluid" src="#" alt="">
        </div>
        <div class="col-md-6 col-lg-4 clip">
          <div class="portfolio-item-caption d-flex position-relative h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center">
              <iframe id="clyp-widget" width="100%" src="https://clyp.it/zz3l13pd/widget" frameborder="0"></iframe>
            </div>
          </div>
          <img class="img-fluid" src="#" alt="">
        </div>
      </div>
    </div>
  </section>



  <!-- About Section -->
  <section class="primary" id="about">
    <div class="container">
      <h2 class="text-center text-uppercase text-black">About</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">Do enim excepteur dolore dolor nisi veniam sunt fugiat do qui adipisicing ex. Consectetur cillum ex excepteur in.
            Esse nisi aute reprehenderit cupidatat incididunt fugiat Lorem incididunt minim est. Dolore quis est occaecat
            reprehenderit elit magna cillum velit aute et. Commodo cupidatat commodo dolore aute incididunt minim ipsum officia
            ipsum. Eu aute in pariatur esse nostrud ad eiusmod. Cillum esse dolor duis occaecat aute.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">Ad sunt nulla labore aliqua laboris amet qui ea aliquip eu eu dolore pariatur. Nisi fugiat incididunt elit est
            mollit duis. Anim anim mollit esse fugiat ea voluptate est. Exercitation deserunt veniam commodo aliqua mollit
            ea enim veniam irure. Et proident adipisicing ad eu incididunt quis qui laboris. Do adipisicing adipisicing anim
            qui. Nisi aute ut ex veniam culpa veniam et.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">Dolore est incididunt minim duis est dolore ad enim amet. Aliquip enim duis id sint. Mollit fugiat Lorem veniam
            ea voluptate velit pariatur adipisicing officia cupidatat adipisicing occaecat ullamco reprehenderit. Ipsum id
            culpa dolor aliquip culpa ea Lorem. Dolore fugiat pariatur ut reprehenderit exercitation pariatur anim occaecat
            occaecat dolore.</p>
        </div>
      </div>
    </div>
  </section>



  <!-- Contact Section -->
  <section id="contact">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Contact Me</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
          <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
          <form action="/contact" method="post" role="form" name="sentMessage" id="contactForm">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Name</label>
                <input class="form-control" id="name" name="name" type="text" placeholder="Name" required="required" data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Email Address</label>
                <input class="form-control" id="email" type="email" name="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Phone Number</label>
                <input class="form-control" id="phone" type="tel" placeholder="Phone Number" required="required" data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Message</label>
                <textarea class="form-control" id="message" name="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Please enter a message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>



  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">
            <br>Wilmington, NC 65243</p>
        </div>
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Around the Web</h4>
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-social text-center rounded-circle" href="#">
                <i class="fa fa-fw fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-social text-center rounded-circle" href="#">
                <i class="fa fa-fw fa-google-plus"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-social text-center rounded-circle" href="https://twitter.com/CoryMannion">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-social text-center rounded-circle" href="#">
                <i class="fa fa-fw fa-linkedin"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-social text-center rounded-circle" href="#">
                <i class="fa fa-fw fa-dribbble"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4 class="text-uppercase mb-4">About Cory</h4>
          <p class="lead mb-0">Cory likes to talk and he does it for money!</p>
        </div>
      </div>
    </div>
  </footer>

  <div class="copyright py-4 text-center">
    <div class="container">
      <a href="https://github.com/Gnarwall19">
        <small>Copyright &copy; Michael Wolfe 2018</small>
      </a>
    </div>
  </div>


  <!-- Bootstrap JS 3.3.7 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>

</html>