    #audio-clips {
      border: 3px solid #0452FE;
      border-radius: 5px;
      background: rgba(243, 241, 241, 0.925);
    }


    #navMain {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-weight: 700;
      background-color: #73726C !important;
    }

    h1 {
      color: white !important;
      font-weight: bold !important;
    }

    
    #bullets,
    #about {
      color: white;
    }

    #home,
    #about {
      background-image: url("../images/stardust.png") !important;
    }

    #profile-picture {
      border: solid 2px white;
      border-radius: 5px;
    }

    .portfolio-item {
      border: 1px solid black;
      margin: 25px;
    }

    .footer {
    padding-top: 25px;
    }

    .btn-social {
      width: 3.25rem;
      height: 3.25rem;
      font-size: 1.25rem;
      line-height: 2rem;
    }

    .navbar-text {
      color: #05A2F2 !important;
      /* border: black !important; */
      text-shadow: 1px 1px black !important;
    }

    header.masthead {
      padding-top: calc(6rem + 72px);
      padding-bottom: 6rem;
    }

    .clip {
      padding: 15px;
    }

    hr.star-light,
    hr.star-dark {
      max-width: 15rem;
      padding: 0;
      text-align: center;
      border: none;
      border-top: solid 0.25rem;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }

    hr.star-light:after,
    hr.star-dark:after {
      position: relative;
      top: -.8em;
      display: inline-block;
      padding: 0 0.25em;
      content: '\f130';
      font-family: FontAwesome;
      font-size: 2em;
    }

    hr.star-light {
      border-color: #fff;
    }

    hr.star-light:after {
      color: #fff;
      background-color: rgb(69, 67, 74);
    }

    hr.star-dark {
      border-color: #2C3E50;
    }

    hr.star-dark:after {
      color: #2C3E50;
      background-color: white;
    }


    section {
      padding: 6rem 0;
    }

    .some-info {
      color: white !important;
    }

    i {
      color: orange;
    }

    footer {
      background-color: #73726C !important;
    }

    .copyright {
      background-color: rgb(56, 56, 56);
    }

    /* .footer-txt {
      font-size: 12px !important;
    } */


    /* Needs to be cleaned up!! */
    @media (min-width: 992px) {
  #navMain {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #navMain .navbar-brand {
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #navMain .navbar-nav {
    margin-top: 0;
  }
  #navMain .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #18BC9C;
  }
  #navMain .navbar-nav > li.nav-item > a.nav-link.active:active, #navMain .navbar-nav > li.nav-item > a.nav-link.active:focus, #navMain .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #18BC9C;
  }
  #navMain.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #navMain.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}